html {
    min-height: 100%;
}

body {
    min-height: 100vh !important;
    background-color: #fff0f5 !important;
    background-image: url("imagensgpt/fundo-loja.png") !important;
    background-repeat: repeat !important;
    background-size: 700px !important;
    background-position: center !important;
    background-attachment: fixed !important;
}
